body{
	height: 100%;
	background-color: rgb(220, 253, 248);
	color: rgb(48, 102, 93);
}
.mobimenavbutton{
	width: 100%;
	background: #009999;
	color: #fff;
}
#header-section{
	padding: 0;
	.ital{
		font-style: italic;
	}
	.container-fluid{
		height: 13.5em;
	}
	.row{
		.col-md-8, .col-lg-6{
			background-color: #fff;
			box-shadow: 0px 0px 10px 5px #444;
			padding: 0;
		}
	}
	#vrijwilligersgezocht{
		color: orange;
		font-size: 2.5em;
		text-shadow: 2px 2px 3px #000000;
		text-align: center;
		padding:0.5em;
		margin-top:-5em;
	}
	#pallium-logo{
		margin-top:1em;
		height:12.5em;
	}
	.page-content{
		padding: 2em 2em 30em 2em;
	}
	#mobilenavbar{
		display: none;
	}
	.menu-background{
		background: rgb(24, 49, 45);
		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			li{
				display: inline;
				a{
					text-decoration: none;
					display: inline-block;
					padding: 1em;
					color:#fff;
					&:hover{
						//background: rgb(220, 253, 248);
						color: rgb(48, 102, 93);
					}

				}
			}
			.active{
				background: rgb(48, 102, 93);
				&:hover{
					color: #fff;
				};
			}
		}
	}
}
#footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: rgb(48, 102, 93);
	border-top: 5px solid rgb(24, 49, 45);
	padding: 1em 0;
	color: white;
	a{
		color: #fff;
    	text-decoration: none;
	}
}
#lfooter{
	position: relative !important;
	bottom: 0;
	width: 100%;
	background-color: rgb(48, 102, 93);
	border-top: 5px solid rgb(24, 49, 45);
	padding: 1em 0;
	color: white;
	a{
		color: #fff;
    	text-decoration: none;
	}
}
.nav-item{
	width: 100%;
}

/*
	15 inch screen
*/
@media screen and (max-width: 1366px){
	#header-section{
		padding: 0;
		.ital{
			font-style: italic;
		}
		.container-fluid{
			height: 10.5em;
		}
		.row{
			.col-md-8, .col-lg-6{
				background-color: #fff;
				box-shadow: 0px 0px 10px 5px #444;
				padding: 0;
			}
		}
		#vrijwilligersgezocht{
			color: orange;
			font-size: 2em;
			text-shadow: 2px 2px 3px #000000;
			text-align: center;
			padding:0.3em;
			margin-top: -3em;
		}
		#pallium-logo{
			margin-top:1em;
			height:9.5em;
		}
		.page-content{
			padding: 2em 2em 30em 2em;
		}
		#mobilenavbar{
			display: none;
		}
		.menu-background{
			background: rgb(24, 49, 45);
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				li{
					display: inline;
					a{
						text-decoration: none;
						display: inline-block;
						padding: 1em;
						color:#fff;
						&:hover{
							//background: rgb(220, 253, 248);
							color: rgb(48, 102, 93);
						}

					}
				}
				.active{
					background: rgb(48, 102, 93);
					&:hover{
						color: #fff;
					};
				}
			}
		}
	}
	#footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: rgb(48, 102, 93);
		border-top: 5px solid rgb(24, 49, 45);
		padding: 1em 0;
		color: white;
		a{
			color: #fff;
	    	text-decoration: none;
		}
	}
	#lfooter{
		position: relative !important;
		bottom: 0;
		width: 100%;
		background-color: rgb(48, 102, 93);
		border-top: 5px solid rgb(24, 49, 45);
		padding: 1em 0;
		color: white;
		a{
			color: #fff;
	    	text-decoration: none;
		}
	}
	.nav-item{
		width: 100%;
	}
}
/*
	i-pad horizontal
*/

@media screen and (max-width: 1024px){
	#header-section{
		padding: 0;
		.ital{
			font-style: italic;
		}
		.container-fluid{
			height: 10.5em;
		}
		.row{
			.col-md-8, .col-lg-6{
				background-color: #fff;
				box-shadow: 0px 0px 10px 5px #444;
				padding: 0;
			}
		}
		#vrijwilligersgezocht{
			color: orange;
			font-size: 1.5em;
			text-shadow: 2px 2px 3px #000000;
			text-align: right;
			padding:0.3em;
			margin-top: -3em;
		}
		#pallium-logo{
			margin-top:1em;
			height:9.5em;
		}
		.page-content{
			padding: 2em 2em 30em 2em;
		}
		#mobilenavbar{
			display: none;
		}
		.menu-background{
			background: rgb(24, 49, 45);
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				li{
					display: inline;
					a{
						text-decoration: none;
						display: inline-block;
						padding: 1em;
						color:#fff;
						&:hover{
							//background: rgb(220, 253, 248);
							color: rgb(48, 102, 93);
						}

					}
				}
				.active{
					background: rgb(48, 102, 93);
					&:hover{
						color: #fff;
					};
				}
			}
		}
	}
	#footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: rgb(48, 102, 93);
		border-top: 5px solid rgb(24, 49, 45);
		padding: 1em 0;
		color: white;
		a{
			color: #fff;
	    	text-decoration: none;
		}
	}
	#lfooter{
		position: relative !important;
		bottom: 0;
		width: 100%;
		background-color: rgb(48, 102, 93);
		border-top: 5px solid rgb(24, 49, 45);
		padding: 1em 0;
		color: white;
		a{
			color: #fff;
	    	text-decoration: none;
		}
	}

	.nav-item{
		width: 100%;
	}
}

/*
	i-pad up right
*/
@media screen and (max-width: 768px){
	
	#header-section{
		padding: 0 1em;
		.ital{
			font-style: italic;
		}
		.container-fluid{
			height: 10.5em;
		}
		.row{
			.col-md-8, .col-lg-6{
				background-color: #fff;
				box-shadow: 0px 0px 10px 5px #444;
				padding: 0;
			}
		}
		#vrijwilligersgezocht{
			color: orange;
			font-size: 1.5em;
			text-shadow: 2px 2px 3px #000000;
			text-align: right;
			padding:0.3em;
			margin-top: -3em;
			margin-right: 3em;
		}
		#pallium-logo{
			margin-top:1em;
			height:9.5em;
		}
		.page-content{
			padding: 2em 2em 30em 2em;
		}
		#mobilenavbar{
			display: none;
		}
		.menu-background{
			background: rgb(24, 49, 45);
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
				li{
					display: inline;
					a{
						text-decoration: none;
						display: inline-block;
						padding: 1em;
						color:#fff;
						&:hover{
							//background: rgb(220, 253, 248);
							color: rgb(48, 102, 93);
						}

					}
				}
				.active{
					background: rgb(48, 102, 93);
					&:hover{
						color: #fff;
					};
				}
			}
		}
	}
	#footer{
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: rgb(48, 102, 93);
		border-top: 5px solid rgb(24, 49, 45);
		padding: 1em 0;
		color: white;
		a{
			color: #fff;
	    	text-decoration: none;
		}
	}
	#lfooter{
		position: relative !important;
		bottom: 0;
		width: 100%;
		background-color: rgb(48, 102, 93);
		border-top: 5px solid rgb(24, 49, 45);
		padding: 1em 0;
		color: white;
		a{
			color: #fff;
	    	text-decoration: none;
		}
	}
	.nav-item{
		width: 100%;
	}
}
@media screen and (max-width: 414px) and (max-height: 736px){
	.page-content{
		padding: 2em !important;
	}
}
/*
	smart-phones up right
*/
 @media screen and (max-width: 414px), screen and (max-height: 414px){
 	header{
 		.container-fluid{
 			max-height: 7em;
 		}
 	}
 	.mobno{
 		display: none !important;
 	}
	#mobilenavbar{
		display: block !important;
		height: 3.5em !important;
		z-index: 3 !important;
		background: rgb(48, 102, 93);
	}
	.menu-background{
		display: none;
	}
	.dropdown{
		background: rgb(48, 102, 93);
		a{
			color: #fff;
		}
	}
	#pallium-logo{
		margin-top:1em !important;
		height:6em !important;
	}
	#vrijwilligersgezocht{
		font-size: 1em !important;
		margin-top: -6em !important;
		margin-right: 0.5em !important;
	}
	.mobile{
		background: rgb(48, 102, 93);
		padding: 1em 2em;
		margin:0;
		a{
			padding: 1em;
			text-decoration: none;
			color: #fff;
		}
	}
	.page-content{
		padding: 2em !important;
		min-height:70vh;
	}
	#footer, #lfooter{
		position: relative;
		bottom: 0 !important;
	}
	.dropdown-menu{
		z-index: 3 !important;
	}
}

@media screen and (max-height: 414px){
	#footer, #lfooter{
		display: none !important;
	}
}

